_site
.sass-cache
.jekyll-metadata
_includes/github/svg
_includes/devicon/icons/*
_includes/devicon/icons/*/*original*.svg
_includes/devicon/icons/*/*wordmark*.svg
_includes/devicon/icons/*/*.eps

# Devicons to include
!_includes/devicon/icons/java