---
---

<main>
{%- assign sorted = site.github.public_repositories | sort: 'stargazers_count'
 | reverse %}
{%- for repository in sorted %}
<section class="gh-card">
  <header>
    {%- if repository.language %}
    {% include devicon/icons/{{ repository.language | downcase }}/{{ repository.language | downcase }}-original.svg class="test" %}
    {%- else %}
    {% include question-mark.svg %}
    {%- endif %}
    <div>
      <h4><a href="{{ repository.name }}">{{ repository.name }}</a></h4>
      <!-- <p class="gh-card-hint">{{ repository.language }}</p> -->
    </div>
      <aside>
        <a class="svg-parent" href="{{ repository.html_url }}/stargazers">{% include github/star.svg %} {{ repository.stargazers_count }}</a>
        <a class="svg-parent" href="{{ repository.html_url }}/network">{% include github/repo-forked.svg %} {{ repository.forks_count }}</a>
      </aside>
    </header>
    <div class="gh-card-body">
      {%- if repository.description %}
      <p>{{ repository.description }}</p>
      {%- else %}
      <p class="gh-card-hint"><i>(This repository has no description.)</i></p> 
      {%- endif %}
    </div>
    <footer>
      <a class="svg-parent" href="{{ repository.html_url }}">{% include github/octoface.svg %} Github</a>
      {%- if repository.license %}
      <a class="svg-parent" href="{{ repository.license.html_url }}">{% include github/law.svg %} {{ repository.license.spdx_id }}</a>
      {%- endif %}
    </footer>
</section>
{%- endfor %}
</main>