main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.gh-card {
    display: inline-flex;
    background-color: var(--primary-color);
    flex-direction: column;
    border-radius: $corner-size;
    width: $card-width;

    margin-right: $margin-spacing;
    margin-top: $margin-spacing;

    .svg-parent svg {
        width: 20px;
        height: 20px;
        path {
            fill: var(--primary-text-color);
        }
        vertical-align: sub; // This works and I don't know why
    }

    header {
        display: flex;
        background-color: var(--secondary-color); 
        height: 100px;
        justify-content: space-between;
        align-items: flex-end;
        border-top-left-radius: $corner-size;
        border-top-right-radius: $corner-size;

        div {
            margin: 0 $card-padding-side;
            flex: 1;
            display: flex;
            justify-content: space-between;

            h4 {
                margin: 0;
                // white-space: nowrap;
            }

            p {
                align-self: flex-end;
                margin: 0;
            }
        }


        & > svg {
            width: $icon-size;
            height: $icon-size;
            min-width: $icon-size;
            min-height: $icon-size;
            align-self: baseline;
            padding: 4px;
            margin-left: $card-padding-side;
            margin-top: $margin-spacing;
            path {
                // fill: var(--accent-color);
            }
        }

        aside {
            margin-right: $card-padding-side;
        }   
    }

    &-body {
        margin-top: $margin-spacing;
        margin-left: $card-padding-side;
        margin-right: $card-padding-side;
        color: var(--primary-text-color);
        min-height: 96px;
    }

    &-hint {
        @extend %hint;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color);
        margin: 0 $card-padding-side;
        margin-bottom: $card-padding-side / 2;
    }
}
@media (max-width: $width-break) {
    .gh-card {
        margin: 0 auto;
        margin-bottom: $margin-spacing;
    }
}
