$icon-size: 96px;
$corner-size: 8px;
$card-padding-top: 32px;
$card-padding-side: 16px;

.gh-card {
    display: inline-flex;
    background-color: var(--primary-color);
    flex-direction: column;
    border-radius: $corner-size;
    width: 400px;

    a {
        text-decoration: none;
        color: var(--primary-text-color);
    }

    svg {
        width: 20px;
        height: 20px;
        path {
            fill: var(--primary-text-color);
        }
        vertical-align: sub; // This works and I don't know why
    }

    header {
        display: flex;
        background-color: var(--secondary-color); 
        height: 100px;
        justify-content: space-between;
        align-items: flex-end;
        border-top-left-radius: $corner-size;
        border-top-right-radius: $corner-size;
        box-shadow: 0px 5px 10px 1px #333;

        h4 {
            margin: 0 $card-padding-side;
            flex: 1;
        }


        & > svg {
            width: $icon-size;
            height: $icon-size;
            min-width: $icon-size;
            min-height: $icon-size;
            border-radius: $corner-size;
            align-self: baseline;
            padding: 4px;
            margin-left: $card-padding-side;
            margin-top: $card-padding-top;
            path {
                fill: var(--accent-color);
            }
        }

        aside {
            margin-right: $card-padding-side;
        }   
    }

    div {
        margin-top: $card-padding-top;
        margin-left: $card-padding-side;
        margin-right: $card-padding-side;
        color: var(--primary-text-color);
    }

    &-hint {
        color: rgba(#fff, .75);
        font-weight: 100;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: var(--primary-color);
        margin: 0 $card-padding-side;
    }
}