.avatar-bordered {
    box-sizing: border-box;
    border-radius: 50%;
    border: $corner-size solid #fff;
    width: 100%;
}

nav { 
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    min-width: $navbar-width;
    max-width: $navbar-width;
    background-color: var(--bg-color);
    margin: $margin-spacing;
    ul {
        padding: 0;
        list-style-type: none;
    }
}