---
---


$day-color-1: white;
$day-color-2: grey;
$day-color-text: black;
$day-color-bg: #eee;

$night-color-1: #303030;
$night-color-2: #424242;
$night-color-text: white;
$night-color-bg: #212121;
$night-color-accent: #c33;

$font-fam-sans: 'IBM Plex Sans', sans-serif;
$font-fam-serif: 'IBM Plex Serif', serif;
$font-fam-mono: 'IBM Plex Mono', monospace;

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
}

%hint {
    color: rgba(#fff, .5);
    font-weight: 300;
}


a {
    text-decoration: none;
    color: var(--primary-text-color);

    &:hover {
        text-decoration: underline;
    }
}
:root {
    --primary-color: #{$night-color-1};
    --secondary-color: #{$night-color-2};
    --primary-text-color: #{$night-color-text};
    --bg-color: #{$night-color-bg};
    --accent-color: #{$night-color-accent};
    font-family: $font-fam-sans;
    color: var(--primary-text-color);
}

.question-mark-svg {
    color: #aaa;
}


@import "normalize";
@import "gh-cards";
@import 'forkme';
@import 'navbar';